@media only screen and (max-width: 1920px){
    .bg-image{
        max-width:1425px;
        width:100%;
    }
    .bg-div{
        left:89%;
    }
    .corner-div{
        left:81.9%;
    }
    .second-div{
        max-width:1350px;
        width:100%;
    }
    .bg-img2{
        max-width:1425px;
        width:100%;
    }
    .blue-line2{
        left:93.3%;
    }
    .service-div{
        display: flex;
        justify-content: center;
    }
   
}

@media only screen and (max-width: 1772px){
    .bg-image{
        max-width:1325px;
        width:100%;
    }
    .bg-div{
        left:84%;
    }
    .corner-div{
        left:76.6%;
    }
    .second-div{
        max-width:1350px;
        width:100%;
    }
    .bg-img2{
        max-width:1332px;
        width:100%;
    }
    .blue-line2{
        left:93.3%;
    }

}

@media only screen and (max-width: 1620px){
    .bg-image{
        max-width:1170px;
        width:100%;
    }
    .corner-div{
        left:75.5%;
    }
    .bg-img2{
        max-width:1170px;
        width:100%;
    }

}

@media only screen and (max-width: 1488px){
    .bg-image{
        max-width:1030px;
        width:100%;
    }
    .corner-div{
        left:74.5%;
    }
    .bg-img2{
        max-width:1030px;
    }
    .second-div{
        max-width:1150px;
        width:100%;
    }

}

@media only screen and (max-width: 1370px){
    .bg-image{
        max-width:880px;
        width:100%;
    }
    .corner-div{
        left:72.5%;
    }
    .bg-img2{
        max-width:880px;
        width:100%;
    }

}

@media only screen and (max-width: 1250px){
    .bg-image{
        max-width:780px;
        width:100%;
    }
    .corner-div{
        left:71.5%;
    }
    .second-div{
        max-width:1050px;
        width:100%;
    }
    .bg-img2{
        max-width:780px;
        width:100%;
    }
}

@media only screen and (max-width: 1170px){
    .bg-image{
        max-width:680px;
        width:100%;
    }
    .corner-div{
        left:69.5%;
    }
    .second-div{
        max-width:1000px;
        width:100%;
    }
    .bg-img2{
        max-width:680px;
        width:100%;
    }
    .bg-div{
        max-width:450px;
        width:100%;
    }

}

@media only screen and (max-width: 1030px){
    .bg-image{
        max-width:580px;
        width:100%;
    }
    .corner-div{
        left:76.5%;
        max-width:45px;
    }
    .bg-img2{
        max-width:580px;
        width:100%;
    }
    .bg-div{
        max-width:350px;
        width:100%;
    }
    .stay{
        font-size:30px;
    }
    .with{
        font-size:30px;
    }
    .div-text{
        text-align: center;
    }
    .div-text2{
        text-align: center;
    }

}

@media only screen and (max-width: 960px){
    .navbar-links{
        display: none;
    }
    .toggle-button{
        display: block;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-li{
        text-align: center;
    }
    .navbar-links.active{
        display: block;
    }
    .second-div{
        max-width:800px;
        width:100%;
    }
    .left-div{
        max-width:250px;
    }
    .right-div{
        max-width:250px;
    }
    .center-div{
        max-width:250px;
    }
    .right-head{
        font-size:25px;
    }
    .right-text1{
        text-align: center;
    }
    .right-text2{
        text-align: center;
    }
    .right-text3{
        text-align: center;
    }
    .right-text4{
        text-align: center;
    }
    .development{
        font-size:25px;
    }
    .center-text{
        text-align: center;
    }
    .center-text2{
        text-align: center;
    }
    .center-text3{
        text-align: center;
    }
    .center-text4{
        text-align: center;
    }
    .right-text2{
        text-align: center;
    }
    .right-text3{
        text-align: center;
    }
    .right-text5{
        text-align: center;
    }
    .left-head{
        font-size:25px;
        margin-top:37px;
    }
    .left-text1{
        text-align: center;
        font-size:14px;
    }
    .left-text2{
        text-align: center;
        font-size:14px;
    }
    .left-text3{
        text-align: center;
        font-size:14px;
    }
    .left-text4{
        text-align: center;
        font-size:14px;
    }
    .twit-icon{
        margin-left:10px;
    }
    .fb-icon{
        margin-left:15px;
    }
    .earth-icon{
        margin-left:20px;
    }

}

@media only screen and (max-width: 844px){
    .bg-image{
        max-width:580px;
        width:100%;
    }
    .corner-div{
        left:76.5%;
        max-width:45px;
    }
    .bg-img2{
        max-width:580px;
        width:100%;
    }
    .bg-div{
        max-width:270px;
        width:100%;
    }
    .stay{
        font-size:25px;
        text-align: center;
    }
    .with{
        font-size:25px;
        text-align: center;
    }
    .div-text{
        text-align: center;
        font-size:18px;
    }
    .div-text2{
        text-align: center;
        font-size:18px;
    }
    .aboutus{
        font-size:30px;
    }
    .usa {
        font-size: 22px;
    }
    .usa:hover{
        font-size:23px;
    }
    .email {
        font-size: 18px;
    }
    .email:hover{
        font-size:19px;
    }
    .call {
        font-size: 18px;
    }
    .call:hover{
        font-size:19px;
    }
    .wish {
        font-size: 22px;
    }
    .wish:hover{
        font-size:23px;
    }
    .terms {
        font-size: 18px;
    }
    .terms:hover{
        font-size:19px;
    }
    .privacy {
        font-size: 18px;
    }
    .privacy:hover{
        font-size:19px;
    }
    .map {
        font-size: 18px;
    }
    .map:hover{
        font-size:19px;
    }
    .tech {
        font-size: 22px;
    }
    .tech:hover{
        font-size:23px;
    }
    .addres {
        font-size: 18px;
    }
    .addres:hover{
        font-size:19px;
    }
    .khulna {
        font-size: 18px;
    }
    .khulna:hover{
        font-size:19px;
    }
    .footer-div {
        height: 190px;
    }
    .last-button {
        margin-left: -161px;
        margin-top: 35px;
    }

}

@media only screen and (max-width: 760px){
    .bg-image{
        max-width:520px;
        width:100%;
    }
    .corner-div{
        left:75.5%;
        max-width:45px;
    }
    .bg-div{
        max-width:240px;
    }
    .usa {
        font-size: 17px;
    }
    .usa:hover{
        font-size:18px;
    }
    .email {
        font-size: 16px;
    }
    .email:hover{
        font-size:17px;
    }
    .call {
        font-size: 16px;
    }
    .call:hover{
        font-size:17px;
    }
    .wish {
        font-size: 18px;
    }
    .wish:hover{
        font-size:19px;
    }
    .terms {
        font-size: 16px;
    }
    .terms:hover{
        font-size:17px;
    }
    .privacy {
        font-size: 16px;
    }
    .privacy:hover{
        font-size:17px;
    }
    .map {
        font-size: 16px;
    }
    .map:hover{
        font-size:17px;
    }
    .tech {
        font-size: 18px;
    }
    .tech:hover{
        font-size:19px;
    }
    .addres {
        font-size: 16px;
    }
    .addres:hover{
        font-size:17px;
    }
    .khulna {
        font-size: 16px;
    }
    .khulna:hover{
        font-size:17px;
    }
    .footer-div {
        height: 190px;
    }
    .last-button {
        margin-left: -161px;
        margin-top: 35px;
    }
    
}

@media only screen and (max-width: 710px){
    .bg-image{
        max-width:500px;
        width:100%;
    }
    .corner-div{
        left:75.5%;
        max-width:45px;
    }
    .second-div{
        max-width:600px;
    }
    .left-div{
        max-width:220px;
    }
    .center-div{
        max-width:220px;
        
    }
    .right-div{
        max-width:220px;
    }
    .usa {
        font-size: 17px;
    }
    .usa:hover{
        font-size:18px;
    }
    .email {
        font-size: 16px;
    }
    .email:hover{
        font-size:17px;
    }
    .call {
        font-size: 16px;
    }
    .call:hover{
        font-size:17px;
    }
    .wish {
        font-size: 18px;
    }
    .wish:hover{
        font-size:19px;
    }
    .terms {
        font-size: 16px;
    }
    .terms:hover{
        font-size:17px;
    }
    .privacy {
        font-size: 16px;
    }
    .privacy:hover{
        font-size:17px;
    }
    .map {
        font-size: 16px;
    }
    .map:hover{
        font-size:17px;
    }
    .tech {
        font-size: 18px;
    }
    .tech:hover{
        font-size:19px;
    }
    .addres {
        font-size: 16px;
    }
    .addres:hover{
        font-size:17px;
    }
    .khulna {
        font-size: 16px;
    }
    .khulna:hover{
        font-size:17px;
    }
    .footer-div {
        height: 190px;
    }
    .last-button {
        margin-left: -161px;
        margin-top: 35px;
    }
    
}

@media only screen and (max-width: 665px){
    .bg-image{
        max-width:390px;
        width:100%;
    }
    .corner-div{
        left:74.5%;
        max-width:45px;
    }
    .bg-img2{
        height:400px;
    }
    .blue-line2{
        display: none;
    }
    .third-section{
        height:425px;
    }
    .second-div{
        max-width:600px;
    }
    .left-div{
        max-width:220px;
    }
    .center-div{
        max-width:220px;
        
    }
    .right-div{
        max-width:220px;
    }
    .percents{
        max-width:520px;
    }
    .right-per{
        max-width:140px;
    }
    .center-per{
        max-width:140px;
    }
    .left-per{
        max-width:140px;
    }
    .brand{
        text-align: center;
    }
    .costumers{
        text-align: center;
    }
    .web{
        text-align: center;
    }
    .usa {
        font-size: 17px;
    }
    .usa:hover{
        font-size:18px;
    }
    .email {
        font-size: 16px;
    }
    .email:hover{
        font-size:17px;
    }
    .call {
        font-size: 16px;
    }
    .call:hover{
        font-size:17px;
    }
    .wish {
        font-size: 18px;
    }
    .wish:hover{
        font-size:19px;
    }
    .terms {
        font-size: 16px;
    }
    .terms:hover{
        font-size:17px;
    }
    .privacy {
        font-size: 16px;
    }
    .privacy:hover{
        font-size:17px;
    }
    .map {
        font-size: 16px;
    }
    .map:hover{
        font-size:17px;
    }
    .tech {
        font-size: 18px;
    }
    .tech:hover{
        font-size:19px;
    }
    .addres {
        font-size: 16px;
    }
    .addres:hover{
        font-size:17px;
    }
    .khulna {
        font-size: 16px;
    }
    .khulna:hover{
        font-size:17px;
    }
    .footer-div {
        height: 190px;
    }
    .last-button {
        margin-left: -161px;
        margin-top: 35px;
    }
    
}

@media only screen and (max-width: 590px){
    .flip{
        height:300px;
    }
    .bg-img2{
        height:300px;
    }
    .third-section{
        height:325px;
    }
    .great{
        font-size:18px;
    }
    .flip-text1{
        font-size:14px;
    }
    .flip-text2{
        font-size:14px;
    }
    .flip-text3{
        font-size:14px;
    }
    .flip-text4{
        font-size:14px;
    }
    .flip-text5{
        font-size:14px;
    }
    .flip-text6{
        font-size:14px;
    }
    .usa {
        font-size: 17px;
    }
    .usa:hover{
        font-size:18px;
    }
    .email {
        font-size: 16px;
    }
    .email:hover{
        font-size:17px;
    }
    .call {
        font-size: 16px;
    }
    .call:hover{
        font-size:17px;
    }
    .wish {
        font-size: 18px;
    }
    .wish:hover{
        font-size:19px;
    }
    .terms {
        font-size: 16px;
    }
    .terms:hover{
        font-size:17px;
    }
    .privacy {
        font-size: 16px;
    }
    .privacy:hover{
        font-size:17px;
    }
    .map {
        font-size: 16px;
    }
    .map:hover{
        font-size:17px;
    }
    .tech {
        font-size: 18px;
    }
    .tech:hover{
        font-size:19px;
    }
    .addres {
        font-size: 16px;
    }
    .addres:hover{
        font-size:17px;
    }
    .khulna {
        font-size: 16px;
    }
    .khulna:hover{
        font-size:17px;
    }
    .footer-div {
        height: 190px;
    }
    .last-button {
        margin-left: -161px;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 570px){
    .bg-image{
        max-width:330px;
        height:480px;
    }
    .bg-div{
        height:252px;
    }
    .corner-div{
        display: none;
    }
    .first-section{
        height:500px;
    }
    .last-button{
        margin-left:30px;
    }
    .twit-icon{
        margin-left:60px;
    }
    .fb-icon{
        margin-left:10px;
    }
    .earth-icon{
        margin-left:70px;
    }
    .left-div{
        max-width:220px;
        height:230px;
    }
    .right-div{
        max-width:220px;
        height:230px;
    }
    .center-div{
        max-width:220px;
        height:230px;
    }
    .right-head{
        font-size:20px;
    }
    .right-text1{
        text-align: center;
        font-size:12px;
    }
    .right-text2{
        text-align: center;
        font-size:12px;
    }
    .right-text3{
        text-align: center;
        font-size:12px;
    }
    .right-text4{
        text-align: center;
        font-size:12px;
    }
    .development{
        font-size:20px;
    }
    .center-text{
        text-align: center;
        font-size:12px;
    }
    .center-text2{
        text-align: center;
        font-size:12px;
    }
    .center-text3{
        text-align: center;
        font-size:12px;
    }
    .center-text4{
        text-align: center;
        font-size:12px;
    }
    .right-text2{
        text-align: center;
        font-size:12px;
    }
    .right-text3{
        text-align: center;
        font-size:12px;
    }
    .right-text5{
        text-align: center;
        font-size:12px;
    }
    .left-head{
        font-size:20px;
        margin-top:37px;
    }
    .left-text1{
        text-align: center;
        font-size:12px;
    }
    .left-text2{
        text-align: center;
        font-size:12px;
    }
    .left-text3{
        text-align: center;
        font-size:12px;
    }
    .left-text4{
        text-align: center;
        font-size:12px;
    }
    .second-section{
        height:245px;
    }
}
@media only screen and (max-width: 520px){
    .bg-image{
        max-width:310px;
        height:460px;
    }
    .bg-div{
        height:242px;
    }
    .first-section{
        height:480px;
    }
    .last-button{
        margin-left:30px;
    }
    .twit-icon{
        margin-left:60px;
    }
    .fb-icon{
        margin-left:10px;
    }
    .earth-icon{
        margin-left:70px;
    }
    .left-div{
        max-width:210px;
        height:220px;
    }
    .right-div{
        max-width:210px;
        height:220px;
    }
    .center-div{
        max-width:210px;
        height:220px;
    }
    .right-head{
        font-size:18px;
    }
    .right-text1{
        text-align: center;
        font-size:11px;
    }
    .right-text2{
        text-align: center;
        font-size:11px;
    }
    .right-text3{
        text-align: center;
        font-size:11px;
    }
    .right-text4{
        text-align: center;
        font-size:11px;
    }
    .development{
        font-size:18px;
    }
    .center-text{
        text-align: center;
        font-size:11px;
    }
    .center-text2{
        text-align: center;
        font-size:11px;
    }
    .center-text3{
        text-align: center;
        font-size:11px;
    }
    .center-text4{
        text-align: center;
        font-size:11px;
    }
    .center-text5 {
        font-size: 11px;
    }
    .right-text2{
        text-align: center;
        font-size:11px;
    }
    .right-text3{
        text-align: center;
        font-size:11px;
    }
    .right-text5{
        text-align: center;
        font-size:11px;
    }
    .left-head{
        font-size:18px;
        margin-top:37px;
    }
    .left-text1{
        text-align: center;
        font-size:11px;
    }
    .left-text2{
        text-align: center;
        font-size:11px;
    }
    .left-text3{
        text-align: center;
        font-size:12px;
    }
    .left-text4{
        text-align: center;
        font-size:12px;
    }
    .second-section{
        height:245px;
    }
    .footer-left{
        max-width:220px;
    }
    .footer-center{
        max-width:220px;
    }
    .footer-right{
        max-width:220px;
    }
    .usa {
        font-size: 14px;
    }
    .usa:hover{
        font-size:15px;
    }
    .email {
        font-size: 12px;
    }
    .email:hover{
        font-size:13px;
    }
    .call {
        font-size: 12px;
    }
    .call:hover{
        font-size:13px;
    }
    .wish {
        font-size: 14px;
    }
    .wish:hover{
        font-size:15px;
    }
    .terms {
        font-size: 12px;
    }
    .terms:hover{
        font-size:13px;
    }
    .privacy {
        font-size: 12px;
    }
    .privacy:hover{
        font-size:13px;
    }
    .map {
        font-size: 12px;
    }
    .map:hover{
        font-size:13px;
    }
    .tech {
        font-size: 14px;
    }
    .tech:hover{
        font-size:15px;
    }
    .addres {
        font-size: 12px;
    }
    .addres:hover{
        font-size:13px;
    }
    .khulna {
        font-size: 12px;
    }
    .khulna:hover{
        font-size:13px;
    }
    .footer-div {
        height: 190px;
    }
    .last-button{
        max-width:100px;
        height:30px;
    }
    
    
}

@media only screen and (max-width: 520px){
    .bg-image{
        max-width:290px;
        height:400px;
    }
    .bg-div{
        height:220px;
    }
    .first-section{
        height:460px;
    }
    .but{
        max-width: 100px;
        width: 100%;
        height: 29px;
        margin-top: 20px;
    }
    .end{
        font-size:14px;
    }
    .me{
        font-size:14px;
    }
    .last-line{
        height:65px;
    }
    .footer-div{
        height:200px;
    }
    .in-icon{
        display: none;
    }
    .stay{
        font-size:20px;
    }
    .with{
        font-size:20px;
    }
    .div-text{
        font-size:16px;
    }
    .div-text2{
        font-size:16px;
    }
    .last-button{
        margin-left:30px;
    }
    .twit-icon{
        margin-left:60px;
    }
    .fb-icon{
        margin-left:10px;
    }
    .earth-icon{
        margin-left:70px;
    }
    .usa {
        font-size: 14px;
    }
    .usa:hover{
        font-size:15px;
    }
    .email {
        font-size: 12px;
    }
    .email:hover{
        font-size:13px;
    }
    .call {
        font-size: 12px;
    }
    .call:hover{
        font-size:13px;
    }
    .wish {
        font-size: 14px;
    }
    .wish:hover{
        font-size:15px;
    }
    .terms {
        font-size: 12px;
    }
    .terms:hover{
        font-size:13px;
    }
    .privacy {
        font-size: 12px;
    }
    .privacy:hover{
        font-size:13px;
    }
    .map {
        font-size: 12px;
    }
    .map:hover{
        font-size:13px;
    }
    .tech {
        font-size: 14px;
    }
    .tech:hover{
        font-size:15px;
    }
    .addres {
        font-size: 12px;
    }
    .addres:hover{
        font-size:13px;
    }
    .khulna {
        font-size: 12px;
    }
    .khulna:hover{
        font-size:13px;
    }
    .footer-div {
        height: 190px;
    }
}

@media only screen and (max-width: 520px){
    .bg-div{
        max-width:180px;
    }
    .stay{
        font-size:18px;
    }
    .with{
        font-size:18px;
    }
    .div-text{
        font-size:12px;
    }
    .div-text2{
        font-size:12px;
    }
    .but{
        max-width:80px;
        height:23px;
        font-size:10px;
    }
    .twit-icon{
        display: none;
    }
    .fb-icon{
        display: none;
    }
    .earth-icon{
        display: none;
    }
    .inst-icon{
        display: none;
    }
    .first-section{
        height:415px;
    }
    .butt{
        max-width:100px;
        font-size:12px;
        height:30px;
    }
    .aboutus{
        font-size:20px;
    }
    .great{
        font-size:16px;
    }
    .flip-text1{
        font-size:12px;
    }
    .flip-text2 {
        font-size: 12px;
    }
    .flip-text3 {
        font-size: 12px;
    }
    .flip-text4 {
        font-size: 12px;
    }
    .flip-text5 {
        font-size: 12px;
    }
    .flip-text6 {
        font-size: 12px;
    }
    .plus{
        font-size:20px;
    }
    .plus2{
        font-size:20px;
    }
    .plus3{
        font-size:20px;
    }
    .costumers{
        font-size:18px;
    }
    .brand{
        font-size:18px;
    }
    .web{
        font-size:18px;
    }
    .left-per{
        height:150px;
    }
    .center-per{
        height:150px;
    }
    .right-per{
        height:150px;
    }
    .google-icon{
        display: none;
    }
    .usa {
        font-size: 14px;
    }
    .usa:hover{
        font-size:15px;
    }
    .email {
        font-size: 12px;
    }
    .email:hover{
        font-size:13px;
    }
    .call {
        font-size: 12px;
    }
    .call:hover{
        font-size:13px;
    }
    .wish {
        font-size: 14px;
    }
    .wish:hover{
        font-size:15px;
    }
    .terms {
        font-size: 12px;
    }
    .terms:hover{
        font-size:13px;
    }
    .privacy {
        font-size: 12px;
    }
    .privacy:hover{
        font-size:13px;
    }
    .map {
        font-size: 12px;
    }
    .map:hover{
        font-size:13px;
    }
    .tech {
        font-size: 14px;
    }
    .tech:hover{
        font-size:15px;
    }
    .addres {
        font-size: 12px;
    }
    .addres:hover{
        font-size:13px;
    }
    .khulna {
        font-size: 12px;
    }
    .khulna:hover{
        font-size:13px;
    }
    .footer-div {
        height: 190px;
    }

}

@media only screen and (max-width: 438px){
    .bg-div{
        max-width:140px;
    }
    .bg-image {
        max-width: 250px;
        height: 355px;
    }
    .first-section {
        height: 370px;
    }
    .last-button {
        margin-left: -125px;
        margin-top:55px;
    }
    .great{
        font-size:10px;
    }
    .flip-text1 {
        font-size: 10px;
    }
    .flip-text2 {
        font-size: 10px;
    }
    .flip-text3 {
        font-size: 10px;
    }
    .flip-text4 {
        font-size: 10px;
    }
    .flip-text5{
        font-size: 10px;
    }
    .flip-text6{
        font-size: 10px;
    }
    .flip {
        height: 225px;
    }
    .bg-img2 {
        height: 225px;
    }
    .third-section {
        height: 255px;
    }
    .right-head {
        font-size: 15px;
    }
    .right-text1 {
        font-size: 9px;
        margin-top: 5px;
    }
    .right-text2 {
        font-size: 9px;
        margin-top: 2px;
    }
    .right-text3 {
        font-size: 9px;
        margin-top: 2px;
    }
    .right-text4 {
        font-size: 9px;
        margin-top: 2px;
    }
    .right-div {
        max-width: 210px;
        height: 175px;
    }
    .development {
        font-size: 15px;
    }
    .center-text {
        font-size: 9px;
        margin-top: 5px;
    }
    .center-text2 {
        font-size: 9px;
        margin-top: 2px;
    }
    .center-text3{
        font-size: 9px;
        margin-top: 2px;
    }
    .center-text4 {
        font-size: 9px;
        margin-top: 2px;
    }
    .center-text5 {
        font-size: 9px;
        margin-top: 2px;
    }
    .left-head {
    font-size: 15px;
    margin-top: 37px;
    }
    .left-text1 {
        margin-top: 5px;
        font-size: 9px;
    }
    .left-text2 {
        margin-top: 2px;
        font-size: 9px;
    }
    .left-text3 {
        margin-top: 2px;
        font-size: 9px;
    }
    .butt {
        max-width: 93px;
        font-size: 8px;
        height: 20px;
    }
    .left-div {
        max-width: 210px;
        height: 175px;
    }
    .center-div {
        max-width: 210px;
        height: 175px;
    }
    .usa {
        font-size: 14px;
    }
    .usa:hover{
        font-size:15px;
    }
    .email {
        font-size: 12px;
    }
    .email:hover{
        font-size:13px;
    }
    .call {
        font-size: 12px;
    }
    .call:hover{
        font-size:13px;
    }
    .wish {
        font-size: 14px;
    }
    .wish:hover{
        font-size:15px;
    }
    .terms {
        font-size: 12px;
    }
    .terms:hover{
        font-size:13px;
    }
    .privacy {
        font-size: 12px;
    }
    .privacy:hover{
        font-size:13px;
    }
    .map {
        font-size: 12px;
    }
    .map:hover{
        font-size:13px;
    }
    .tech {
        font-size: 14px;
    }
    .tech:hover{
        font-size:15px;
    }
    .addres {
        font-size: 12px;
    }
    .addres:hover{
        font-size:13px;
    }
    .khulna {
        font-size: 12px;
    }
    .khulna:hover{
        font-size:13px;
    }
    .footer-div {
        height: 190px;
    }
}

@media only screen and (max-width: 352px){
    .bg-image {
        max-width: 220px;
        height: 345px;
    }
    .but {
        margin-top: 7px;
    }
    .bg-div {
        max-width: 130px;
        height: 210px;
    }
    .usa {
        font-size: 14px;
    }
    .usa:hover{
        font-size:15px;
    }
    .email {
        font-size: 12px;
    }
    .email:hover{
        font-size:13px;
    }
    .call {
        font-size: 12px;
    }
    .call:hover{
        font-size:13px;
    }
    .wish {
        font-size: 14px;
    }
    .wish:hover{
        font-size:15px;
    }
    .terms {
        font-size: 12px;
    }
    .terms:hover{
        font-size:13px;
    }
    .privacy {
        font-size: 12px;
    }
    .privacy:hover{
        font-size:13px;
    }
    .map {
        font-size: 12px;
    }
    .map:hover{
        font-size:13px;
    }
    .tech {
        font-size: 14px;
    }
    .tech:hover{
        font-size:15px;
    }
    .addres {
        font-size: 12px;
    }
    .addres:hover{
        font-size:13px;
    }
    .khulna {
        font-size: 12px;
    }
    .khulna:hover{
        font-size:13px;
    }
    .footer-div {
        height: 190px;
    }
}

/* service */

@media only screen and (max-width: 1920px){
    .service-bg{
        height:500px;
    }
    .service-div{
        height:700px;
    }
    .service-last{
        height:700px;
        display: flex;
        justify-content:center;
    }
    .service-image{
        margin-top:70px;
        height:600px;
        max-width:800px;
    }
    .sma{
        margin-top:125px;
        height:500px;
        max-width:500px;
    }
    .small{
       display: none;
    }
    .serviceleft-div{
        height:400px;
        margin-top: 150px;
        max-width:800px;
    }
    .serviceright-div{
        height:400px;
        margin-top: 150px;
        max-width:800px;
    }
    .footer-tap {
        left: 61.5%;
        top: -129%;
    }
    .service-line{
        margin-top:0px;
        height:400px;
    }
}

@media only screen and (max-width: 1189px){
    .html-text {
        font-size: 17px;
        margin-top: 30px;
    }
    .psd-text{
        margin-top:30px;
    }
}

@media only screen and (max-width: 1080px){
    .text-button{
        top:7%;
        max-width:130px;
        height:40px;
    }
}

@media only screen and (max-width: 950px){

    .text-button{
        top:7%;
        max-width:130px;
        height:40px;
    }
    .html-text {
        font-size: 15px;
    }
    .service-right {
        max-width: 140px;
        width: 100%;
        height: 50px;
        font-size:10px;
    }
    .service-left{
        max-width: 140px;
        width: 100%;
        height: 50px;
        font-size:10px;
    }
    .service-head{
        font-size:30px;
    }
}

@media only screen and (max-width: 720px){

    .text-button{
        top:7%;
        max-width:130px;
        height:40px;
    }
    .html-text {
        font-size: 14px;
    }
    .text-button {
        top: 7%;
        max-width: 120px;
        height: 30px;
    }
    .psd-text{
        font-size:20px;
    }
    .path{
        font-size:25px;
    }
    .wordpress{
        font-size:16px;
    }
    .service-line{
        display: none;
    }
}

@media only screen and (max-width: 630px){
    .service-left{
        left:25%;
    }
    .service-right{
        left:28%;
    }
    .html-text {
        font-size: 13px;
    }
    .psd-text {
        font-size: 18px;
    }
    .path {
        font-size: 18px;
    }
    .wordpress {
        font-size: 14px;
    }
}

@media only screen and (max-width: 530px){
    .text-button{
        left:30%;
        top:6%;
    }
    .html-text {
        font-size: 12px;
    }
    .service-left {
        max-width: 110px;
        width: 100%;
        height: 40px;
        font-size: 9px;
    }
    .service-right {
        max-width: 110px;
        width: 100%;
        height: 40px;
        font-size: 9px;
    }
}
@media only screen and (max-width: 450px){
    .text-button{
        left:20%;
        top:6%;
    }
    .html-text {
        font-size: 11px;
    }
    .wordpress {
        font-size: 12px;
    }
    .footer-tap {
        max-width: 100px;
        width: 100%;
        height: 30px;
    }

}

@media only screen and (max-width: 360px){
    .text-button{
        left:20%;
        top:6%;
    }
    .html-text {
        font-size: 10px;
    }
    .wordpress {
        font-size: 11px;
    }
    .footer-tap {
        max-width: 100px;
        width: 100%;
        height: 30px;
    }

}

@media only screen and (max-width: 360px){
    .text-button{
        left:20%;
        top:6%;
        max-width: 115px;
        height: 30px;
    }
    .service-left {
        max-width: 100px;
        width: 100%;
        height: 30px;
        font-size: 8px;
        left: 13%;
    }
    .service-right {
        max-width: 100px;
        width: 100%;
        height: 30px;
        font-size: 8px;
        left: 15%;
    }
    .tap {
        max-width: 100px;
        width: 100%;
        height: 30px;

    }
}

/* about */

@media only screen and (max-width: 1920px){
    .cont-bg{
        height: 380px;
        max-width: 420px;
    }
    .h2-div {
        max-width: 420px;
        width: 100%;
        height: 380px;
    }
    .h2-text {
        font-size: 23px;
    }
    .secondbg{
        height: 380px;
        max-width: 420px;
    }
    .second-h2{
        max-width: 420px;
        width: 100%;
        height: 380px;
    }
    .h2p {
        font-size: 23px;
    }
    .ic {
        height: 190px;
        align-items: flex-end;
    }
    .karlo {
        height: 360px;
        max-width: 430px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .giorgi{
        height: 360px;
        max-width: 430px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .tornike{
        height: 360px;
        max-width: 430px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-div {
        height: 300px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }
    .supporters {
        max-width: 1920px;
        height: 320px;
    }
    .bg-sup {
        height: 300px;
        max-width: 330px;
    }
    .te {
        max-width: 330px;
        width: 100%;
        height: 300px;
    }
    .teqsti {
        font-size: 25px;
    }
    .bg-su{
        height: 300px;
        max-width: 330px;
    }
    .tep{
        max-width: 330px;
        width: 100%;
        height: 300px;
    }
    .teq{
        font-size: 25px;
    }
    .bg-s{
        height: 300px;
        max-width: 330px;
    }
    .ta{
        max-width: 330px;
        width: 100%;
        height: 300px;
    }
    .ti{
        font-size: 25px;
    }

}

@media only screen and (max-width: 1615px){
    .ti {
        font-size: 23px;
    }
    .teqsti{
        font-size: 23px;
    }
    .teq{
        font-size: 23px;
    }
    .h2-text {
        font-size: 21px;
    }
    .h2-head {
        font-size: 28px;
    }
    .h2-sec {
        font-size: 28px;
    }
    .h2p {
        font-size: 21px;
    }
}

@media only screen and (max-width: 1395px){
    .ti {
        font-size: 21px;
    }
    .teqsti{
        font-size: 21px;
    }
    .teq{
        font-size: 21px;
    }
}

@media only screen and (max-width: 1246px){
    .ti {
        font-size: 20px;
    }
    .teqsti{
        font-size: 19px;
    }
    .teq{
        font-size: 20px;
    }
    .h2-text {
        font-size: 19px;
    }
    .h2-head {
        font-size: 25px;
    }
    .h2-sec {
        font-size: 25px;
    }
    .h2p {
        font-size: 19px;
    }
}

@media only screen and (max-width: 1000px){
    .tornike {
        height: 340px;
        max-width: 320px;
    }
    .giorgi {
        height: 340px;
        max-width: 320px;
    }
    .karlo {
        height: 340px;
        max-width: 320px;
    }
    .secondbg {
        height: 310px;
        max-width: 320px;
    }
    .cont-bg {
        height: 310px;
        max-width: 320px;
    }
    .h2-head {
        font-size: 22px;
    }
    .h2-text {
        font-size: 16px;
    }
    .h2-sec {
        font-size: 22px;
    }
    .h2p {
        font-size: 16px;
    }
    .ti {
        font-size: 16px;
    }
    .ta {
        height: 230px;
    }
    .bg-s {
        height: 230px;
        max-width: 330px;
    }
    .tep {
        height: 230px;
    }
    .teq {
        font-size: 16px;
    }
    .bg-su {
        height: 230px;
    }
    .teqsti {
        font-size: 15px;
    }
    .te {
        height: 230px;
    }
    .bg-sup {
        height: 230px;
    }
}

@media only screen and (max-width: 885px){
    .h2-text {
        font-size: 14px;
    }
    .h2-head {
        font-size: 20px;
    }
    .cont-bg {
        height: 280px;
    }
    .h2-sec {
        font-size: 20px;
    }
    .h2p {
        font-size: 14px;
    }
    .secondbg {
        height: 280px;
    }
}

@media only screen and (max-width: 796px){
    .teqsti {
        font-size: 13px;
    }
    .teq {
        font-size: 13px;
    }
    .ti {
        font-size: 13px;
    }
    .ta {
        height: 200px;
    }
    .bg-s {
        height: 200px;
    }
    .tep {
        height: 200px;
    }
    .bg-su {
        height: 200px;
    }
    .te {
        height: 200px;
    }
    .bg-sup {
        height: 200px;
    }
    .secondbg {
        height: 250px;
    }
    .h2-sec {
        font-size: 18px;
    }
    .h2p {
        font-size: 12px;
    }
    .second-h2 {
        height: 250px;
    }
    .container {
        height: 300px;
    }
    .h2-text {
        font-size: 12px;
    }
    .h2-head {
        font-size: 18px;
    }
    .cont-bg {
        height: 250px;
    }
    .come {
        font-size: 30px;
    }
    .on-text {
        font-size:18px;
    }
    .about-head {
        font-size: 30px;
    }
}

@media only screen and (max-width: 710px){
    .h2-text {
        font-size: 10px;
    }
    .h2p {
        font-size: 10px;
    }
    .h2-sec {
        font-size: 17px;
    }
    .h2-head {
        font-size: 17px;
    }
    .teqsti {
        font-size: 11px;
    }
    .teq {
        font-size: 12px;
    }
    .ti {
        font-size: 12px;
    }
    .tornike {
        height: 240px;
        max-width: 220px;
        border-radius: 20px;
    }
    .giorgi {
        height: 240px;
        max-width: 220px;
        border-radius: 20px;
    }
    .karlo {
        height: 240px;
        max-width: 220px;
        border-radius: 20px;
    }
    .milianer {
        font-size: 18px;
    }
    .apcika {
        font-size: 18px;
    }
    .qista {
        font-size: 18px;
    }
    .people {
        max-width: 1920px;
        width: 100%;
        height: 350px;
    }
    .do {
        font-size: 25px;
    }
    .happy {
        font-size: 25px;
    }
    .about-lastsec {
        max-width: 1920px;
        width: 100%;
        height: 1335px;
    }
    .come {
        font-size: 25px;
    }
    .about-header {
        height: 260px;
    }
    .bea {
        max-width: 110px;
        width: 100%;
        height: 30px;
}

@media only screen and (max-width: 545px){
    .tornike {
        height: 200px;
        max-width: 200px;
        border-radius: 20px;
    }
    .giorgi {
        height: 200px;
        max-width: 200px;
        border-radius: 20px;
    }
    .karlo {
        height: 200px;
        max-width: 200px;
        border-radius: 20px;
    }
    .milianer {
        font-size: 14px;
    }
    .apcika {
        font-size: 14px;
    }
    .qista {
        font-size: 14px;
    }
    .chafiozi {
        font-size: 12px;
    }
    .bro {
        font-size: 12px;
    }
    .beer {
        font-size: 12px;
    }
    .people {
        height: 300px;
    }
    .child-head {
        font-size: 25px;
    }
    .child-text {
        font-size: 18px;
    }
    .ta {
        height: 170px;
    }
    .bg-s {
        height: 170px;
    }
    .ti {
        font-size: 11px;
    }
    .tep {
        height: 170px;
    }
    .teq {
        font-size: 11px;
    }
    .bg-su {
        height: 170px;
    }
    .te {
        height: 170px;
    }
    .teqsti {
        font-size: 10px;
    }
    .bg-sup {
        height: 170px;
    }
    .about-lastsec {
        height: 1260px;
    }
    .supporters {
        height: 280px;
    }
    .me {
        font-size: 11px;
    }
    .end {
        font-size: 11px;
    }
    .secondbg {
        height: 200px;
    }
    .h2-sec {
        font-size: 15px;
    }
    .h2p {
        font-size: 9px;
    }
    .second-h2 {
        height: 200px;
    }
    .cont-bg {
        height: 200px;
    }
    .h2-head {
        font-size: 15px;
    }
    .h2-text {
        font-size: 8px;
    }
    .h2-div {
        height: 200px;
    }
    .container {
        height: 260px;
    }

}

@media only screen and (max-width: 475px){
    .bg-s {
        height: 130px;
    }
    .ta {
        height: 130px;
    }
    .ti {
        font-size: 8px;
    }
    .tep {
        height: 130px;
    }
    .teq {
        font-size: 8px;
    }
    .bg-su {
        height: 130px;
    }
    .teqsti {
        font-size: 7px;
    }
    .te {
        height: 130px;
    }
    .bg-sup {
        height: 130px;
    }
    .supporters {
        height: 200px;
    }
    .about-lastsec {
        height: 1160px;
    }
    .footer-div {
        height: 220px;
    }
    .h2-text {
        font-size: 7px;
    }
    .h2-head {
        font-size: 11px;
    }
    .h2-sec {
        font-size: 11px;
    }
    .h2p {
        font-size: 8px;
    }
    .secondbg {
        height: 170px;
    }
    .cont-bg {
        height: 170px;
    }
    .come {
        font-size: 20px;
    }
    .on-text {
        font-size: 15px;
    }

}

@media only screen and (max-width: 351px){
    .secondbg {
        height: 130px;
    }
    .second-h2 {
        height: 130px;
    }
    .h2p {
        font-size: 5px;
    }
    .h2-sec {
        font-size: 9px;
    }
    .cont-bg {
        height: 130px;
    }
    .h2-div {
        height: 130px;
    }
    .h2-text {
        font-size: 5px;
    }
    .h2-head {
        font-size: 9px;
    }
    .container {
        height: 170px;
    }
}
}


/* blog */

@media only screen and (max-width: 1920px){
    .bg-blog {
        height: 550px;
        max-width: 1520px;
    }
    .blog-bg {
        height: 380px;
    }
    .container2 {
        height: 650px;
    }
    .green-down {
        max-width: 290px;
        height: 350px;
    }
    .green-head {
        font-size: 35px;
        margin-left: 27px
    }
    .webd {
        font-size: 25px;
        color: white;
        margin-left: 30px;
        margin-top: 18px;
    }
    .blog-sc {
        height: 320px;
    }
    .blog-headdiv {
        max-width: 1520px;
        height: 250px;
    }
    .mojahid-div {
        max-width: 1510px;
        height: 250px;
    }
    .isa {
        font-size: 45px;
        text-align: center;
    }
    .asa {
        font-size: 30px;
        text-align: center;
    }
    .islam {
        font-size: 30px;
    }
    .great-dean {
        max-width: 300px;
        height:250px;
    }
    .recent {
        font-size: 35px;
    }
    .poker{
        font-size:20px;
    }
    .another-bg{
        height: 550px;
        max-width: 1520px;
    }
    .another-sc{
        height:570px;
    }
    .corona {
        max-width: 300px;
        height: 340px;
    }
    .login {
        font-size: 30px;
        padding-top: 20px;
    }
    .tags {
        font-size: 40px;
    }
    .covid-div {
        max-width: 300px;
        height: 250px;
    }
    .archive {
        font-size: 35px;
    }
    .archive-text {
        font-size: 25px;
    }

}

@media only screen and (max-width: 1840px){
    .bg-blog {
        max-width: 1420px;
    }
    .mojahid-div {
        max-width: 1410px;
    }
    .blog-headdiv {
        max-width: 1420px;
    }
    .another-bg {
        max-width: 1420px;
    }
}

@media only screen and (max-width: 1745px){
    .bg-blog {
        max-width: 1320px;
    }
    .mojahid-div {
        max-width: 1310px;
    }
    .blog-headdiv {
        max-width: 1320px;
    }
    .another-bg {
        max-width: 1320px;
    }
}

@media only screen and (max-width: 1640px){
    .bg-blog {
        max-width: 1220px;
    }
    .mojahid-div {
        max-width: 1210px;
    }
    .blog-headdiv {
        max-width: 1220px;
    }
    .another-bg {
        max-width: 1220px;
    }
}

@media only screen and (max-width: 1540px){
    .bg-blog {
        max-width: 1120px;
    }
    .mojahid-div {
        max-width: 1110px;
    }
    .blog-headdiv {
        max-width: 1120px;
    }
    .another-bg {
        max-width: 1120px;
    }
}

@media only screen and (max-width: 1440px){
    .bg-blog {
        max-width: 1020px;
    }
    .mojahid-div {
        max-width: 1010px;
    }
    .blog-headdiv {
        max-width: 1020px;
    }
    .another-bg {
        max-width: 1020px;
    }
    .isa {
        font-size: 40px;
    }
    .asa {
        font-size: 25px;
    }
    .islam {
        font-size: 25px;
    }
}

@media only screen and (max-width: 1340px){
    .bg-blog {
        max-width: 920px;
    }
    .mojahid-div {
        max-width: 910px;
    }
    .blog-headdiv {
        max-width: 920px;
    }
    .another-bg {
        max-width: 920px;
    }
}

@media only screen and (max-width: 1240px){
    .bg-blog {
        max-width: 820px;
    }
    .mojahid-div {
        max-width: 810px;
    }
    .blog-headdiv {
        max-width: 820px;
    }
    .another-bg {
        max-width: 820px;
    }
}

@media only screen and (max-width: 1140px){
    .bg-blog {
        max-width: 720px;
    }
    .mojahid-div {
        max-width: 710px;
    }
    .blog-headdiv {
        max-width: 720px;
    }
    .another-bg {
        max-width: 720px;
    }
    .isa {
        font-size: 35px;
    }
    .asa {
        font-size: 20px;
    }
    .islam {
        font-size: 20px;
    }
    .green-head {
        font-size: 30px;
    }
    .webd {
        font-size: 20px;
    }
    .recent {
        font-size: 30px;
    }
    .tags {
        font-size: 35px;
    }
    .login {
        font-size: 25px;
    }
    .archive {
        font-size: 30px;
    }
    .archive-text {
        font-size: 20px;
        padding-left: 13px;
    }
    
}

@media only screen and (max-width: 1040px){
    .bg-blog {
        max-width: 620px;
    }
    .mojahid-div {
        max-width: 610px;
    }
    .blog-headdiv {
        max-width: 620px;
    }
    .another-bg {
        max-width: 620px;
    }
}

@media only screen and (max-width: 940px){
    .bg-blog {
        max-width: 520px;
    }
    .mojahid-div {
        max-width: 510px;
    }
    .blog-headdiv {
        max-width: 520px;
    }
    .another-bg {
        max-width: 520px;
    }
    .nav-li a {
        font-size: 10px;
    }
    .nav-li {
        margin: 10px;
    }
    .nav-ul {
        align-items: flex-end;
    }
}

@media only screen and (max-width: 840px){
    .bg-blog {
        max-width: 420px;
    }
    .mojahid-div {
        max-width: 410px;
    }
    .blog-headdiv {
        max-width: 420px;
    }
    .another-bg {
        max-width: 420px;
    }
    .isa {
        font-size: 25px;
    }
    .asa {
        font-size: 15px;
    }
    .islam {
        font-size: 15px;
    }
    .green-head {
        font-size: 25px;
    }
    .webd {
        font-size: 17px;
    }
    .recent {
        font-size: 25px;
    }
    .tags {
        font-size: 30px;
    }
    .login {
        font-size: 20px;
    }
    .archive {
        font-size: 25px;
    }
    .archive-text {
        font-size: 17px;
        padding-left: 13px;
    }
    .another-bg {
        height: 445px;
    }
    .another-sc {
        height: 435px;
    }
    .bg-blog {
        height: 445px;
    }
    .green-down {
        max-width: 290px;
        height: 319px;
    }
    .container2 {
        height: 555px;
    }
    
}

@media only screen and (max-width: 740px){
    .bg-blog {
        max-width: 320px;
    }
    .mojahid-div {
        max-width: 310px;
    }
    .blog-headdiv {
        max-width: 320px;
    }
    .another-bg {
        max-width: 320px;
    }
    .isa {
        font-size: 20px;
    }
    .asa {
        font-size: 13px;
    }
    .islam {
        font-size: 13px;
    }
    .green-head {
        font-size: 20px;
    }
    .webd {
        font-size: 15px;
    }
    .recent {
        font-size: 20px;
    }
    .tags {
        font-size: 25px;
    }
    .login {
        font-size: 17px;
    }
    .archive {
        font-size: 20px;
    }
    .archive-text {
        font-size: 15px;
        padding-left: 13px;
    }
    .another-bg {
        height: 390px;
    }
    .another-sc {
        height: 380px;
    }
    .bg-blog {
        height: 390px;
    }
    .green-down {
        height: 260px;
    }
    .container2 {
        height: 500px;
    }
    .corona {
        max-width: 300px;
        height: 230px;
    }
    .nav-li a {
        font-size: 10px;
    }
    .nav-li {
        margin: 10px;
    }
    .nav-ul {
        align-items: flex-end;
    }
    
}

@media only screen and (max-width: 640px){
    .bg-blog {
        max-width: 320px;
    }
    .mojahid-div {
        max-width: 310px;
    }
    .blog-headdiv {
        max-width: 320px;
    }
    .another-bg {
        max-width: 320px;
    }
    .green-down {
        max-width: 205px;
    }
    .great-dean {
        max-width: 205px;
    }
    .isa {
        font-size: 20px;
    }
    .asa {
        font-size: 13px;
    }
    .islam {
        font-size: 13px;
    }
    .green-head {
        font-size: 20px;
    }
    .webd {
        font-size: 15px;
    }
    .recent {
        font-size: 15px;
    }
    .poker {
        font-size: 14px;
    }
    .tags {
        font-size: 25px;
    }
    .login {
        font-size: 17px;
    }
    .archive {
        font-size: 20px;
    }
    .archive-text {
        font-size: 15px;
        padding-left: 13px;
    }
    .corona {
        max-width: 205px;
    }
    .covid-div {
        max-width: 205px;
    }
    .line-green{
        display: none;
    }
    
}

@media only screen and (max-width: 550px){
    .bg-blog {
        height: 260px;
        max-width: 225px;
    }
    .mojahid-div {
        max-width: 210px;
    }
    .blog-headdiv {
        max-width: 220px;
    }
    .another-bg {
        height: 260px;
        max-width: 225px;
    }
    .another-sc {
        height: 260px;
    }
    .green-down {
        height: 180px;
    }
    .corona {
        height: 212px;
    }
    .august{
        display: none;
    }
    .isa {
        font-size: 15px;
    }
    .asa {
        font-size: 11px;
    }
    .islam {
        font-size: 11px;
    }
    .great-dean {
        height: 200px;
    }
    .blog-sc {
        height: 280px;
    }
    .green-head {
        font-size: 13px;
    }
    .webd {
        font-size: 11px;
        margin-top: 10px;
    }
    .container2 {
        height: 370px;
    }
    .recent {
        font-size: 13px;
    }
    .poker {
        font-size: 12px;
    }
    .tags {
        font-size: 20px;
    }
    .login {
        font-size: 15px;
    }
    .archive {
        font-size: 17px;
    }
    .archive-text {
        font-size: 13px;
        padding-left: 13px;
    }
    .blog-headdiv {
        height: 200px;
    }
    .covid-div {
        height: 200px;
    }
}

@media only screen and (max-width: 460px){
    .green-down {
        max-width: 160px;
    }
    .great-dean {
        max-width: 160px;
    }
    .corona {
        max-width: 160px;
    }
    .covid-div {
        max-width: 160px;
    }
    .blog-head {
        font-size: 20px;
    }
    .nav-li a {
        font-size: 10px;
    }
    .nav-li {
        margin: 10px;
    }
    .nav-ul {
        align-items: flex-end;
    }
}

@media only screen and (max-width: 410px){
    .bg-blog {
        height: 200px;
        max-width: 190px;
    }
    .green-down {
        max-width: 130px;
        height: 120px;
    }
    .green-head {
        font-size: 10px;
    }
    .webd {
        font-size: 9px;
        margin-top: 5px;
    }
    .container2 {
        height: 310px;
    }
    .islam {
        font-size: 7px;
    }
    .asa {
        font-size: 9px;
        padding-left:0px;
        padding-top: 10px;
    }
    .isa {
        font-size: 10px;
        padding-left:0px;
        padding-top: 10px;
    }
    .poker {
        font-size: 11px;
    }
    .tags {
        font-size: 17px;
    }
    .login {
        font-size: 13px;
        padding-top: 8px;
    }
    .another-bg{
        height: 200px;
        max-width: 190px;
    }
    .great-dean{
        max-width: 130px;
        height: 200px;
    }
    .corona{
        max-width: 130px;
        height: 151px;
    }
    .another-sc {
        height: 195px;
    }
    .covid-div{
        max-width: 130px;
        height: 200px;
    }
    .nav-li a {
        font-size: 10px;
    }
    .nav-li {
        margin: 10px;
    }
    .nav-ul {
        align-items: flex-end;
    }
}

/* portfolio */

@media only screen and (max-width: 1920px){
    .f-div {
        max-width: 520px;
    }
    .photo-box {
        max-width: 1400px;
    }
    .ozb {
        max-width: 281px;
    }
    .ozb:hover{
        max-width:286px;
    }
}

@media only screen and (max-width: 1300px){
    .ozb {
        max-width: 216px;
        height:216px;
    }
    .ozb:hover{
        max-width:221px;
        height:221px;
    }
    .photo-box {
        max-width: 1079px;
    }
}

@media only screen and (max-width: 871px){
    .photo-box {
        max-width: 750px;
    }
    .ozb {
        max-width: 170px;
        height: 170px;
    }
    .ozb:hover{
        max-width:175px;
        height:175px;
    }
    .f-div {
        max-width: 320px;
        height: 380px;
    }
    .act-head {
        font-size: 25px;
    }
    .act-text {
        font-size: 15px;
    }
    .bg-portan {
        height: 430px;
        max-width: 520px;
    }
    .portfolio-head {
        font-size: 30px;
    }
    
}

@media only screen and (max-width: 515px){
    .f-div{
        margin-top:0px;
    }
    .bg-portan {
        height: 380px;
    }
    .container3 {
        height: 1310px;
    }
    .ozb {
        max-width: 150px;
        height: 150px;
    }
    .ozb:hover{
        max-width:155px;
        height:155px;
    }
    .head-wrap2 {
        font-size: 16px;
    }
    .head-wrap3 {
        font-size: 16px;
    }
    .head-wrap4 {
        font-size: 16px;
    }
    .head-wrap1 {
        font-size: 16px;
    }
    .port-button {
        max-width: 120px;
        height: 30px;
        font-size:10px;
    }
    .container3 {
        height: 1690px;
    }
    .back2back {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 450px){
    .ozb {
        max-width: 110px;
        height: 110px;
    }
    .portfolio-head {
        font-size: 30px;
    }
    .head-wrap2 {
        font-size: 13px;
    }
    .head-wrap3 {
        font-size: 13px;
    }
    .head-wrap4 {
        font-size: 13px;
    }
    .head-wrap1 {
        font-size: 13px;
    }
}






