.navbar{
    max-width:1920px;
    width:100%;
    height:70px;
    background-color:darkblue;
    display: flex;
    position:fixed;
    z-index: 10;
}
.logo{
    max-width:243px;
    width:100%;
    height:106px;
    cursor: pointer;
}
.logo-text{
    font-size:50px;
    margin-left:30px;
    margin-top:10px;
    color:white;
}
.nav-ul{
    display: flex;
}
.nav-li{
    display: inline-block;
    vertical-align: middle;
    margin:20px;
    
}
.nav-li a{
    font-size:20px;
    color:#D1E0FB;
    font-family: 'Roboto Mono', monospace;
}
.nav-li a:hover{
    font-size:30px;
    transition:0.5s;
}
.first-section{
    max-width:1920px;
    width:100%;
    height:550px;
    background-color:darkblue;
}
.bg-image{
    background-image: url(../images/pc.jpg);
    height:550px;
    max-width:925px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    animation: mymove 3s;
}
.bg-image{
    animation-timing-function: ease;
}
.bg-div{
    max-width:500px;
    width:100%;
    height:300px;
    background-color:#1B3D81;
    top:30%;
    left:72%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.stay{
    font-size:40px;
    margin-top:20px;
    color:white;
}
.with{
    font-size:40px;
    color:white;
}
.div-text{
    margin-top:30px;
    color:white;
    font-size:20px;
}
.div-text2{
    margin-top:10px;
    color:white;
    font-size:20px;
}
.but{
    max-width:150px;
    width:100%;
    height:50px;
    margin-top:50px;
    background-color:darkblue;
    color:white;
}
.corner-div{
    max-width:100px;
    width:100%;
    height:300px;
    top:30%;
    left:61.2%;
    position: absolute;
    background-color:darkblue;
    opacity: 0.5;
}
.inst-icon{
    color:white;
    position: absolute;
    top:87%;
    left:103%;
}
.inst-icon:hover{
    color:#8a3ab9;
    cursor: pointer;
}
.twit-icon{
    color:white;
    position: absolute;
    top:87%;
    left:108%;
}
.twit-icon:hover{
    color:#00acee;
    cursor: pointer;
}
.fb-icon{
    color:white;
    position: absolute;
    top:87%;
    left:113%;
}
.fb-icon:hover{
    color:#3b5998;
    cursor: pointer;
}
.earth-icon{
    color:white;
    position: absolute;
    top:87%;
    left:117%;
}
.earth-icon:hover{
    color:#70483c;
    cursor: pointer;
}
.second-section{
    max-width:1920px;
    width:100%;
    height:300px;
    background-color:darkblue;
}
.second-div{
    max-width:950px;
    height:250px;
    background-color:darkblue;
    margin:0 auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: backwards;
}
.left-div{
    max-width:300px;
    width:100%;
    height:250px;
    display: flex;
    flex-direction: column;
    background-color:#1B3D81;
    border-radius:20px;
}
.left-head{
    font-size:35px;
    color:white;
    text-align: center;
}
.left-text1{
    font-size:18px;
    color:white;
    margin-top:10px;
}
.left-text2{
    font-size:18px;
    color:white;
    margin-top:10px;
}
.left-text3{
    font-size:18px;
    color:white;
    margin-top:10px;
}
.butt{
    max-width:150px;
    width:100%;
    height:40px;
    margin:0 auto;
    margin-top:30px;
    background-color:darkblue;
    color:white;
}
.center-div{
    max-width:300px;
    width:100%;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1B3D81;
    border-radius:20px;
}
.tv-icon{
    margin-top:10px;
    color:white;
}
.development{
    font-size:35px;
    color:white;
}
.center-text{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.center-text2{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.center-text3{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.center-text4{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.center-text5{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.right-div{
    max-width:300px;
    width:100%;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1B3D81;
    border-radius:20px;
}
.art-icon{
    margin-top:10px;
    color:white;
}
.right-head{
    font-size:35px;
    color:white;
}
.right-text1{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.right-text2{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.right-text3{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.right-text4{
    font-size:14px;
    color:white;
    margin-top:10px;
}
.third-section{
    max-width:1920px;
    width:100%;
    height:550px;
    background-color:darkblue;
    display: flex;
    align-items: center;
}
.bg-img2{
    background-image: url(../images/second.jpg);
    height:550px;
    max-width:725px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}
.blue-line2{
    background-color:#1B3D81;
    max-width:100px;
    width:100%;
    height:400px;
    position: absolute;
    top:13.7%;
    left:86.3%;
    opacity: 0.5;
}
.flip{
    max-width:350px;
    width:100%;
    height:400px;
    background-color:#1B3D81;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutus{
    font-size:35px;
    color:white;
    
}
.great{
    font-size:20px;
    color:white;
    margin-top:10px;
    text-align: center;
}
.flip-text1{
    color:white;
    font-size:16px;
    margin-top:5px;
}
.flip-text2{
    color:white;
    font-size:16px;
    margin-top:5px;
}
.flip-text3{
    color:white;
    font-size:16px;
    margin-top:5px;
}
.flip-text4{
    color:white;
    font-size:16px;
    margin-top:5px;
}
.flip-text5{
    color:white;
    font-size:16px;
    margin-top:5px;
}
.flip-text6{
    color:white;
    font-size:16px;
    margin-top:5px;
}
.forth-section{
    background-color:darkblue;
    max-width:1920px;
    width:100%;
    height:200px;
}
.percents{
    max-width:1920px;
    width:100%;
    height:200px;
    margin:0 auto;
    display: flex;
    position: relative;
    justify-content: center;
    justify-content: space-around;
}
.left-per{
    background-color:#1B3D81;
    max-width:250px;
    width:100%;
    height:170px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}
.center-per{
    background-color:#1B3D81;
    max-width:250px;
    width:100%;
    height:170px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.right-per{
    background-color:#1B3D81;
    max-width:250px;
    width:100%;
    height:170px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.fa-icon{
    display: flex;
    justify-content: center;
    margin-top:15px;
    color:white;
    cursor: pointer;
}
.plus{
    display: flex;
    justify-content: center;
    font-size:30px;
    margin-top:10px;
    color:white;
}
.plus:hover{
    font-size:35px;
    transition: 0.5s;
    cursor: pointer;
}
.plus2:hover{
    font-size:35px;
    transition: 0.5s;
    cursor: pointer;
}
.plus3:hover{
    font-size:35px;
    transition: 0.5s;
    cursor: pointer;
}

.web{
    display: flex;
    justify-content: center;
    font-size:25px;
    margin-top:10px;
    color:grey;
}
.plus2{
    display: flex;
    justify-content: center;
    font-size:30px;
    margin-top:10px;
    color:white;
}
.brand{
    display: flex;
    justify-content: center;
    font-size:25px;
    margin-top:10px;
    color:grey;
}
.medal-icon{
    display: flex;
    justify-content: center;
    margin-top:15px;
    color:white;
    cursor: pointer;
}
.plus3{
    display: flex;
    justify-content: center;
    font-size:30px;
    margin-top:10px;
    color:white;
}
.costumers{
    display: flex;
    justify-content: center;
    font-size:25px;
    margin-top:10px;
    color:grey;
}
.search-icon{
    display: flex;
    justify-content: center;
    margin-top:15px;
    color:white;
    cursor: pointer;
}
.footer-div{
    max-width:1920px;
    width:100%;
    height:250px;
    background-color:darkblue;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.footer-left{
    max-width:290px;
    width:100%;
    height:170px;
}
.usa{
    text-align: center;
    font-size:30px;
    color:white;
    margin-top:5px;
    cursor: pointer;
}
.usa:hover{
    font-size:35px;
    transition: 0.5s;
}
.email:hover{
    font-size:25px;
    transition: 0.5s;
}
.email{
    text-align: center;
    font-size:20px;
    color:white;
    margin-top:5px;
    cursor: pointer;
}
.call{
    text-align: center;
    font-size: 20px;
    color:white;
    margin-top:5px;
    cursor: pointer;
}
.call:hover{
    font-size:25px;
    transition: 0.5s;
}
.fcb-icon{
    color:#3b5998;
    margin-left:40px;
    margin-top:10px;
    cursor: pointer;
}
.twt-icon{
    color:#00acee;
    margin-left:10px;
    margin-top:10px;
    cursor: pointer;
}
.google-icon{
    color:#4285F4;
    margin-left:10px;
    margin-top:10px;
    cursor: pointer;
}
.in-icon{
    color:greenyellow;
    margin-left:10px;
    margin-top:10px;
    cursor: pointer;
}
.footer-center{
    max-width:250px;
    width:100%;
    height:170px;
}
.wish{
    text-align: center;
    font-size:30px;
    color:white;
    margin-top:5px;
}
.wish:hover{
    font-size:35px;
    transition: 0.5s;
}
.terms{
    text-align: center;
    font-size:20px;
    cursor: pointer;
    color:white;
    margin-top:5px;
}
.terms:hover{
    font-size:25px;
    transition: 0.5s;
}
.privacy{
    text-align: center;
    font-size:20px;
    cursor: pointer;
    color:white;
    margin-top:5px;
}
.privacy:hover{
    font-size:25px;
    transition: 0.5s;
}
.map{
    text-align: center;
    font-size:20px;
    cursor: pointer;
    color:white;
    margin-top:5px;
}
.map:hover{
    font-size:25px;
    transition: 0.5s;
}
.footer-right{
    max-width:330px;
    width:100%;
    height:170px;
}
.tech{
    text-align: center;
    font-size:30px;
    color:white;
    margin-top:5px;
}
.tech:hover{
    font-size:35px;
    transition: 0.5s;
}
.addres{
    text-align: center;
    font-size:20px;
    cursor: pointer;
    color:white;
    margin-top:5px;
}
.addres:hover{
    font-size:25px;
    transition: 0.5s;
}
.khulna{
    text-align: center;
    font-size:20px;
    cursor: pointer;
    color:white;
    margin-top:5px;
}
.khulna:hover{
    font-size:25px;
    transition: 0.5s;
}
.last-button{
    max-width:130px;
    width:100%;
    height:40px;
    margin-left:60px;
    background-color:darkblue;
    color:white;
    margin-top:20px;
}
.last-line{
    max-width:1920px;
    width:100%;
    height:100px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.end{
    font-size:20px;
    color:white;
}
.me{
    font-size:20px;
    color:white;
}

/* service css */

.service{
    max-width:1920px;
    width:100%;
    height:350px;
}
.service-bg{
    background-image: url(../images/service.jpg);
    height:350px;
    max-width:1920px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.service-head{
    position: absolute;
    font-size:40px;
    color:white;
    top:50%;
    left:15%;
}
.service2{
    max-width:1920px;
    width: 100%;
    height:600px;
    background-color:darkblue;
}
.service-left{
    max-width:160px;
    width:100%;
    height:60px;
    color:white;
    position: relative;
    top:5%;
    left:50%;
    background-color:#3b5998;
}
.service-right{
    max-width:160px;
    width:100%;
    height:60px;
    color:white;
    position: relative;
    top:5%;
    left:53%;
    background-color:#3b5998;
}
.service-div{
    max-width:1920px;
    width:100%;
    height:500px;
    background-color:darkblue;
    display: flex;
    justify-content: space-between;
}
.serviceleft-div{
    max-width:750px;
    width:100%;
    height:350px;
    background-color:#3b5998;
    margin-top:100px;
}
.psd-text{
    text-align: center;
    font-size:30px;
    color:white;
}
.html-text{
    text-align: center;
    font-size:20px;
    color:white;
}
.text-button{
    max-width:160px;
    width:100%;
    height:60px;
    color:white;
    position: relative;
    background-color:#3b5998;
    left:37%;
    top:10%;
}
.serviceright-div{
    background-image: url(../images/blow.jpg);
    height:250px;
    max-width:500px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top:140px;
}
.service-line{
    max-width:80px;
    width:100%;
    height:350px;
    background-color:#3b5998;
    opacity: 0.5;
    margin-top:-40px;
}
.service-last{
    max-width:1920px;
    width:100%;
    height:420px;
    background-color:darkblue;
    display: flex;
}
.service-image{
    background-image: url(../images/fingers.jpg);
    height:350px;
    max-width:750px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top:1%;
}
.small{
    max-width:70px;
    width:100%;
    height:400px;
    background-color:#3b5998;
    top: 152.5%;
    left:55.5%;
    position: absolute;
    opacity: 0.5;
}
.sma{
    max-width:500px;
    width:100%;
    height:400px;
    background-color:#3b5998;
    margin-top:-20px;
}
.path{
    font-size:35px;
    color:white;
    margin-left:50px;
    margin-top:30px;
}
.wordpress{
    font-size:17px;
    margin-left:30px;
    margin-top:20px;
}
.tap{
    max-width:130px;
    width:100%;
    height:40px;
    background-color:#3b5998;
    color:white;
    margin-left:30px;
    margin-top:20px;
}
.service-footer{
    max-width:1920px;
    width:100%;
    height:50px;
    background-color:darkblue;
    position: relative;
}
.footer-tap{
    max-width:140px;
    width:100%;
    height:45px;
    background-color:#3b5998;
    color:white;
    position: absolute;
    left:61.5%;
    top:-20%;
}

/* ABOUT */
.about{
    max-width:1920px;
    width:100%;
    height:350px;
}
.about-head{
    position: absolute;
    font-size:40px;
    color:white;
    top:50%;
    left:15%;
}

.about-bg{
    background-image: url(../images/service.jpg);
    height:350px;
    max-width:1920px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.about-header{
    max-width:1920px;
    width:100%;
    height:300px;
    background-color:darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.come{
    font-size:35px;
    text-align: center;
    padding-top:50px;
    color:white;
}
.on-text{
    text-align: center;
    max-width:600px;
    padding-top:20px;
    font-size:20px;
    color:white;
}
.container{
    max-width:1920px;
    width:100%;
    height:380px;
    background-color:darkblue;
    display: flex;
    justify-content: space-between;

}
.cont-bg{
    background-image: url(../images/back.jpg);
    height:300px;
    max-width:250px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.h2-div{
    max-width:300px;
    width:100%;
    height:300px;
}
.h2-head{
    font-size:30px;
    color:white;
}
.h2-text{
    font-size:18px;
    color:white;
    padding-top:15px;
}
.secondbg{
    background-image: url(../images/ground.jpg);
    height:300px;
    max-width:250px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.second-h2{
    max-width:300px;
    width:100%;
    height:300px;
}
.h2-sec{
    font-size:35px;
    color:white;
}
.h2p{
    font-size:18px;
    color:white;
    padding-top:15px;
}
.icn-section{
    max-width:1920px;
    height:190px;
    width:100%;
    background-color: darkblue;
}
.ic{
    max-width:1920px;
    width:100%;
    height:100px;
    color:darkblue;
    display: flex;
    justify-content: space-around;
}
.md-icon{
    color:white;
    cursor: pointer;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
}
.branch-icon{
    color:white;
    cursor: pointer;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
}
.money-icon{
    color:white;
    cursor: pointer;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
}
.quality-div{
    max-width:150px;
    width:100%;
    height:150px;
    position: relative;
}
.quality-div:hover{
    background-color:#3b5998;
    cursor: pointer;
    border-radius: 30px;
}
.quality{
    text-align: center;
    margin-top:70px;
    color:white; 
}
.expert-div{
    max-width:150px;
    width:100%;
    height:150px;
    position: relative;
}
.expert-div:hover{
    background-color:#3b5998;
    cursor: pointer;
    border-radius: 30px;
}
.expert-text{
    text-align: center;
    margin-top:70px;
    color:white;
}
.market-div{
    max-width:150px;
    width:100%;
    height:150px;
    position: relative;
}
.market-div:hover{
    background-color:#3b5998;
    cursor: pointer;
    border-radius: 30px;
}
.market{
    text-align: center;
    margin-top:70px;
    color:white;
}
.about-lastsec{
    max-width:1920px;
    width:100%;
    height:1480px;
    background-color:darkblue;
}
.row{
    max-width:1920px;
    width:100%;
    height:150px;
    background-color: darkblue;
}
.child-row{
    max-width:800px;
    width:100%;
    height:140px;
    background-color:darkblue;
    margin:0 auto;
}
.child-head{
    font-size:35px;
    color:white;
    text-align: center;
}
.child-text{
    font-size:20px;
    color:white;
    text-align: center;
}
.mother-div{
    max-width:1920px;
    width:100%;
    height:150px;
    display: flex;
    justify-content: space-around;
}
.less-div{
    max-width:800px;
    width:100%;
    height:140px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
}
.man{
    max-width:150px;
    width:100%;
    height:140px;
    position: relative;
    
}
.man:hover{
    border-radius: 30px;
    background-color:#3b5998;
    cursor: pointer;
}
.what{
    color:white;
    cursor: pointer;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
}
.the{
    color:white;
    font-size:20px;
    text-align: center;
    padding-top:60px;
}
.girl{
    max-width:150px;
    width:100%;
    height:140px;
    position: relative;
}
.girl:hover{
    border-radius: 30px;
    background-color:#3b5998;
    cursor: pointer;
}
.code{
    color:white;
    cursor: pointer;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
}
.team{
    color:white;
    font-size:20px;
    text-align: center;
    padding-top:60px;
}
.son{
    max-width:150px;
    width:100%;
    height:140px;
    position: relative;
}
.son:hover{
    border-radius: 30px;
    background-color:#3b5998;
    cursor: pointer;
}
.project-icon{
    color:white;
    cursor: pointer;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
}
.fine{
    color:white;
    font-size:20px;
    text-align: center;
    padding-top:60px;
}
.father-div{
    max-width:1920px;
    width:100%;
    height:90px;
}
.father-girl{
    max-width:800px;
    width:100%;
    height:80px;
    margin:0 auto;
}
.hell{
    font-size:35px;
    text-align: center;
    color:white;
}
.leadership{
    color:white;
    font-size:20px;
    text-align: center;
}
.people{
    max-width:1920px;
    width:100%;
    height:450px;
    display: flex;
    justify-content: space-around;
}
.tornike{
    background-image: url(../images/apci.jpg);
    height:300px;
    max-width:250px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.karlo{
    background-image: url(../images/qista.jpg);
    height:300px;
    max-width:250px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.giorgi{
    background-image: url(../images/yavrela.png);
    height:300px;
    max-width:250px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.qista{
    font-size:22px;
    color:white;
    text-align: center;
}
.beer{
    font-size:18px;
    color:white;
    text-align: center;
}
.apci{
    max-width:250px;
    width:100%;
    height:50px;
    top:110%;
    position: absolute;
}

.yavrela{
    max-width:250px;
    width:100%;
    height:50px;
    top:110%;
    position: absolute;
}
.milianer{
    font-size:22px;
    color:white;
    text-align: center;
}
.natro{
    max-width:250px;
    width:100%;
    height:50px;
    top:110%;
    position: absolute;
}
.bro{
    font-size:18px;
    color:white;
    text-align: center;
}
.apcika{
    font-size:22px;
    color:white;
    text-align: center;
}
.chafiozi{
    font-size:18px;
    color:white;
    text-align: center;
}
.feel{
    max-width:800px;
    width:100%;
    height:200px;
    margin:0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.do{
    font-size:35px;
    text-align: center;
    color:white;
}
.free{
    font-size:20px;
    text-align: center;
    color:white;
    margin-top:10px;
}
.bea{
    max-width:150px;
    width:100%;
    height:50px;
    background-color:darkblue;
    color:white;
    margin-top:20px;
}
.bea:hover{
    background-color:#3b5998;
    cursor: pointer;
    max-width:160px;
    width:100%;
    height:55px;
    transition: 0.5s;
    border:1px solid;
    border-radius: 30px;
}
.they{
    max-width:800px;
    width:100%;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    flex-direction: column;
}
.happy{
    font-size:35px;
    color:white;
}
.say{
    font-size:20px;
    color:white;
    margin-top:10px;
}
.supporters{
    max-width:1300px;
    width:100%;
    height:200px;
    position: relative;
    display: flex;
    margin:0 auto;
    justify-content: space-around;
    align-items: center;
}
.bg-sup{
    background-image: url(../images/teddy.jpg);
    height:150px;
    max-width:160px;
    width:100%;
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.te{
    max-width:250px;
    width:100%;
    height:160px;
    background-color:#3b5998;
}
.teqsti{
    font-size:16px;
    color:white;
    text-align: center;
}
.bg-su{
    background-image: url(../images/bussines.jpg);
    height:150px;
    max-width:160px;
    width:100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.teq{
    font-size:17px;
    color:white;
    text-align: center;
}
.tep{
    max-width:250px;
    width:100%;
    height:160px;
    background-color:#3b5998;
}
.bg-s{
    background-image: url(../images/mann.jpg);
    height:150px;
    max-width:160px;
    width:100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.ta{
    max-width:250px;
    width:100%;
    height:160px;
    background-color:#3b5998;
}
.ti{
    font-size:16px;
    color:white;
    text-align: center;
}


